

/* DASHBOARD */
.image, .video{
  width: 300px;
  height: 300px;
}

.barButtonColor{
  background-color: rgb(102, 161, 157);
}


/* ARTICLE CREATE */
.bgimage{
  background-image: url("/static/signup.5ac05903cff7.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 93vh;
  width: 100%;
}

label, #colorChange{
  color: rgb(102, 161, 157);
  font-weight: bold;
  font-size: 30px;
}

/* AWARDS */
.uc{
  background-image: url("/static/uc.0d386db286fa.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 84vh;
  width: 100%;
}
