{% extends 'accounts/signupBaseLayout.html' %}
{% load static %}
{% block content %}
  <div class="image-holder">
    <img src="{% static 'img/jog.jpg' %}" alt="">
  </div>
  <form class="mdl-textfield mdl-js-textfield" action="{% url 'accounts:signup'%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>Create An Account</h1>
    <br>
    <h3>Profile Info</h3>
    <div class="form-row">
      <input type="text" class="form-control" placeholder="First Name" name="first_name">
      <input type="text" class="form-control" placeholder="Last Name" name="last_name">
    </div>
    <ul class="helptext"></ul>
    <div class="form-row">
      <input type="text" class="form-control" placeholder="Username*" name="username" id="id_username" autofocus required>
      <input type="email" class="form-control" placeholder="Email Address*" name="email" required>
    </div>
    <div class="form-row">
      <input type="password" class="form-control" placeholder="Password*" name="password1" required>
      <input type="password" class="form-control" placeholder="Re-enter Password*" name="password2" required>
    </div>
    <div class="form-row">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" required>
      <label class="form-check-label" for="defaultCheck1">I accept the terms and conditions.</label>
    </div>
    <p>* = Required</p>
    <button class="btn btn-primary" type="submit">Next</button>
  </form>
{% endblock %}
