/*
brown: #724315;
dark grey: #545454;
light grey: #eee;
red: rgb(176,0,15);
yellow: #FFD700;
green: rgb(102, 161, 157);

*/
body{
  /* margin-bottom: 300px; */
  background-color: #eee;
}
/* NAVBAR */
#menuButton, .fa-bars, #aboutNav, #contactNav, #signupNav, #loginNav{
  color: rgb(102, 161, 157);
}
/* HEADER */
div#header{
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background: linear-gradient(to bottom, #724315, #724315, 80%, #eee 100%);
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
.ahb{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
  font-size: 50px;
  letter-spacing: 3px !important;
  text-transform: uppercase;
  color: rgb(102, 161, 157);
}
#shareJourney{
  color: #eee;
  font-weight: 200;
  font-size: 30px;
}
#learnMoreDiv{
  margin-top: 50px;
}
.learnMoreButton{
  border-radius: 8px;
  /* color: rgb(176,0,15); */
  background-color: rgb(102, 161, 157);
}
.learnMoreText{
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 2px !important;
  color: #eee;
}
/* END OF HEADER */

/* VALUES */
.allValuesCard{
  /* border-radius: 30%; */
}
q, #brainIcon, #foodIcon, #sleepIcon, #exerciseIcon{
  color: #724315;
}
#healthValueTitle, #mentalValueTitle, #foodValueTitle, #sleepValueTitle, #exerciseValueTitle{
  margin-top: 100px;
  color: rgb(102, 161, 157);
}
#mentalValueTitle, #foodValueTitle, #sleepValueTitle, #exerciseValueTitle{
  margin-top: 30px;
}
#mentalSection, #sleepSection{
  background-color: rgb(102, 161, 157);
}
#foodSection, #exerciseSection{
  background-color: #724315;
}
#mentalSection, #sleepSection, #foodSection, #exerciseSection, .contactCard{
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 2%;
}

#mentalImage, #foodImage, #sleepImage, #exerciseImage{
  height: 300px !important;
  weight: 300px !important;
  margin-top: 30px;
  margin-bottom: 30px;
}
#mentalTitle, #mentalText, #sleepTitle, #sleepText{
  color: #724315;
}
#mentalTitle, #sleepTitle, #foodTitle, #exerciseTitle{
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 4px !important;
}
#mentalText, #sleepText, #foodText, #exerciseText{
  font-weight: 100;
  font-size: 30px;
}

#foodTitle, #foodText, #exerciseTitle, #exerciseText{
  color: rgb(102, 161, 157);
}
/* END OF VALUES */

/* MENTAL */


/* END OF MENTAL */
/* CONTACT INFO */
/* #contact{
  background-color: rgb(102, 161, 157);
} */
#map, #envelope, #mobile, #github, #ig, #address, #email, #number{
  /* color: #724315 !important; */
  color: rgb(102, 161, 157) !important;
}

hr.my-4{
  background-color: #eee;
  height: 2px;
}
#addressTitle, #emailTitle, #phoneTitle{
  /* color: rgb(102, 161, 157); */
  color: #724315;
}
.mx-2{
  margin-top: 30px;
  margin-bottom: 50px;
}
/* FOOTER */
footer{
  margin-top: 50px;
  margin-bottom: 70px;
  color: #724315;

}
#footer{
  font-weight: bold;
  font-size: 20px;
}

@media (min-width: 800px) {
  #mentalSection, #sleepSection{
    margin-left: 40px;
  }
  #foodSection, #exerciseSection{
    margin-left: 350px;
  }
  #mentalSection, #sleepSection, #foodSection, #exerciseSection{
    width: 950px;
  }
