/*
brown: #724315;
dark grey: #545454;
light grey: #eee;
red: rgb(176,0,15);
yellow: #FFD700;
green: #66a19d;

*/
body{
  /* margin-bottom: 300px; */
  background-color: #eee;
}
/* NAVBAR */
#menuButton, .fa-bars, #valuesNav, #whyUseAppNav, #aboutNav, #contactNav, #signupNav, #loginNav{
  color: #66a19d;
}
/* HEADER */
div#header{
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background: linear-gradient(to bottom, #724315, #724315, 80%, #eee 100%);
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
.ahb{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
  font-size: 50px;
  letter-spacing: 3px !important;
  text-transform: uppercase;
  color: #66a19d;
}
#shareJourney{
  color: #eee;
  font-weight: 200;
  font-size: 30px;
  margin: 10px 20px 10px 20px;
}
#learnMoreDiv{
  margin-top: 50px;
}
.learnMoreButton{
  border-radius: 8px;
  /* color: rgb(176,0,15); */
  background-color: #66a19d;
}
.learnMoreText{
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 2px !important;
  color: #eee;
}
.imInterestedButton{
  border-radius: 8px;
  background-color: #724315;
  margin-top: 25px;
}
.imInterestedText{
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 2px !important;
  color: #eee;
}
/* END OF HEADER */

/* Why Use */
#introImage{
  width: 90% !important;
  height: auto !important;
  border-radius: 3%;
}
#whyUseApp{
  background: linear-gradient(#eee, #66a19d, #eee);
}
#createAndGo {
    display: flex;
    align-items: center;
    color: #724315;
    margin-top: 100px;
    margin-bottom: 100px;
}
#createAndGo::before, #createAndGo::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid #724315;
}
#createAndGo::before {
    margin-right: .25em;
}
#createAndGo::after {
    margin-left: .25em;
}
#simple, #who, #commPrac{
  color: #eee;
  text-transform: uppercase;
}
.knownFor{
  color: #66a19d;
}

.whyUseText{
  font-size: 20px;
  /* text-align: right; */
}
/* END OF WHY USE */

/* VALUES */
.allValuesCard{
  /* border-radius: 30%; */
}
q, #brainIcon, #foodIcon, #sleepIcon, #exerciseIcon{
  color: #724315;
}
#healthValueTitle, #mentalValueTitle, #foodValueTitle, #sleepValueTitle, #exerciseValueTitle{
  /* margin-top: 100px; */
  color: #66a19d;
  text-transform: uppercase;
}
#mentalValueTitle, #foodValueTitle, #sleepValueTitle, #exerciseValueTitle{
  margin-top: 30px;
}
#mentalSection, #sleepSection{
  background-color: #66a19d;
}
#foodSection, #exerciseSection{
  background-color: #724315;
}
#mentalSection, #sleepSection, #foodSection, #exerciseSection{
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 2%;
}
.contactCard{
  margin-top: 30px;
}
/* section#mentalSection:hover{
	transition: transform 0.6s cubic-bezier(0.7, 0, 0.84, 0);
} */

#mentalImage, #foodImage, #sleepImage, #exerciseImage{
  height: 300px;
  width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 3%;
}
#mentalTitle, #mentalText, #sleepTitle, #sleepText{
  color: #724315;
}
#mentalTitle, #sleepTitle, #foodTitle, #exerciseTitle{
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 4px !important;
  text-transform: uppercase;
}
#mentalText, #sleepText, #foodText, #exerciseText{
  font-weight: 100;
  font-size: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

#foodTitle, #foodText, #exerciseTitle, #exerciseText{
  color: #66a19d;
}
/* END OF VALUES */

/* CONTACT INFO */
/* #contact{
  background-color: #66a19d;
} */
#map, #envelope, #mobile, #address, #email, #number{
  /* color: #724315 !important; */
  color: rgb(102, 161, 157) !important;
}
#github, #ig{
  color: rgb(102, 161, 157)

}
#aboutBottom, #termsOfUse, #privacy, #support{
  color: #724315;
  margin: auto;
}

hr.my-4{
  background-color: #eee;
  height: 2px;
}

#addressTitle, #emailTitle, #phoneTitle{
  /* color: #66a19d; */
  color: #724315;
}
.mx-2{
  margin-top: 25px;
  margin-bottom: 50px;
}
/* FOOTER */
footer{
  margin-top: 20px;
  margin-bottom: 70px;
  /* color: #724315; */
  color: rgb(102, 161, 157) !important;
}
#footer{
  font-weight: bold;
  font-size: 20px;
}

@media (min-width: 800px) {
  #mentalSection, #sleepSection{
    margin-left: 40px;
  }
  #foodSection, #exerciseSection{
    margin-left: 350px;
  }
  #mentalSection, #sleepSection, #foodSection, #exerciseSection{
    width: 950px;
  }
}
@media (max-width: 375px) {
  .ahb{
    margin-top: -140px;
  }
}
