{% extends 'baseLayout.html' %}

{% block content %}
<div class="container" id="detailsPage">
  <div class="col-xs*-12 d-flex justify-content-start">
    <a href="{% url 'article:list' %}">
      <button class="btn backAndSubmitButton">Back</button>
    </a>
  </div>
  <h2>{{ article.title }}</h2>
  <hr>
    <h5>By: {{ article.author.username }}</h5>
  <hr>
    <p>Posted on: {{ article.date }}</p>
  <hr>
  {% if article.image != "default.png" %}
    <img class="imageDetail" src="{{ article.image.url }}"/>
  {% endif %}
  <br>
  {% if article.video != "default.mp4" %}
    <video class="videoDetail" controls>
      <source src="{{ article.video.url }}">
    </video>
  {% endif %}
  <hr>
    <p class="bodyOfPost">{{ article.body }}</p>
  <hr>
  {% if comments.count == 1 %}
    <div>
      <h2>{{ comments.count }} comment</h2>
    </div>
  {% else %}
    <div>
      <h2>{{ comments.count }} comments</h2>
    </div>
  {% endif %}


  <hr>
  <div>
    <form method="post" style="margin-top: 1.3em;">
      {% csrf_token %}
      <textarea class="form-control" name="comment" id="newComment" placeholder="Add a comment..."></textarea>
      <button type="submit" class="btn backAndSubmitButton" id="submitButton">Submit</button>
    </form>
  </div>
  <hr>
  <div>
    {% if comments.count == 0 %}
      <div>
        <p>Be the first to comment.</p>
      </div>
    {% endif %}
    {% for comment in comments %}
      <div class="card commentCard">
        <div class="row">
          <div class="col-6">
            <p>{{ comment.author }}</p>
          </div>
          <div class="col-6">
            <p class="float-right">{{ comment.date }}</p>
          </div>
        </div>
        <div>
          <p>{{ comment.comment }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<script src="/static/slugify.js"></script>
{% endblock %}
