{% extends 'baseLayout.html' %}
{% load static %}
{% block content %}

<!-- All users but wanna show only those that are logged in -->
<div class="container-fluid" id="scrollbar">
  <div class="row flex-row flex-nowrap overflow-auto">
    {% for otherUser in otherUsers %}
      {% for userImage in userImages %}
        {% if otherUser.username == userImage.author.username %}
          <img id="userImageList" src="{{ userImage.thumbnail.url }}">
        {% endif %}
      {% endfor %}
      <a href="{% url 'dashboard:profilePage_with_pk' pk=otherUser.pk %}">
        <p>{{ otherUser.username }}</p>
      </a>
    {% endfor %}
  </div>
</div>
<hr>
<!-- JUMBOTRON -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center" id="shareJourney">Share journey <i> with others</h1>
    <p class="text-center express">Freely express yourself by sharing your workouts, meals, milestone, etc.</p>
    <p class="d-flex justify-content-center">
      <a href="{% url 'article:create' %}">
        {% for user in users %}
          <button class="btn share" type="button" name="button">
            What's on your mind,<h4>{{ user.username }}</h4>
          </button>
        {% endfor %}
      </a>
    </p>
  </div>
</div>
<div class="container">
  <div class="row justify-content-around" id="rowArticleList">
    {% for article in theArticles %}
      <div class="card col-md-6" id="articleList">
        <div class="row justify-content-around" id="authorDateList">
          <div class="col-xs*-4">
            {% for userImage in userImages %}
              {% if article.author.username == userImage.author.username %}
                <img id="userImageList" src="{{ userImage.thumbnail.url }}">
              {% endif %}
            {% endfor %}
            <a href="{% url 'dashboard:profilePage_with_pk' pk=article.author.pk %}">
              <h4 class="float-right" id="usernameList">{{ article.author.username }}</h4>
            </a>
          </div>
          <div class="col-xs*-4">
            {% if article.topic.0 == "Mental" %}
              <a href="{% url 'article:mental' %}">{{ article.topic.0 }} </a>
            {% elif article.topic.0 == "Food" %}
              <a href="{% url 'article:food' %}">{{ article.topic.0 }} & Nutrition</a>
            {% elif article.topic.0 == "Sleep" %}
              <a href="{% url 'article:sleep' %}">{{ article.topic.0 }}</a>
            {% elif article.topic.0 == "Exercise"%}
              <a href="{% url 'article:exercise' %}">{{ article.topic.0 }}</a>
            {% endif %}

            {% if article.topic.1 == "Food" %}
              <a href="{% url 'article:food' %}"> | {{ article.topic.1 }} & Nutrition</a>
            {% elif article.topic.1 == "Sleep" %}
              <a href="{% url 'article:sleep' %}"> | {{ article.topic.1 }}</a>
            {% elif article.topic.1 == "Exercise"%}
              <a href="{% url 'article:exercise' %}"> | {{ article.topic.1 }}</a>
            {% endif %}

            {% if article.topic.2 == "Sleep" %}
              <a href="{% url 'article:sleep' %}"> | {{ article.topic.2 }}</a>
            {% elif article.topic.2 == "Exercise"%}
              <a href="{% url 'article:exercise' %}"> | {{ article.topic.2 }}</a>
            {% endif %}

            {% if article.topic.3 == "Exercise" %}
              <a href="{% url 'article:exercise' %}"> | {{ article.topic.3 }}</a>
            {% endif %}
          </div>
          <div class="col-xs*-4">
            <p>{{ article.date|timesince }} ago</p>
          </div>
        </div>
        <hr>
        <a href="{% url 'article:detail' slug=article.slug %}">
          {% if article.image != "default.png" %}
            <img class="imageList mx-auto d-block" src="{{ article.image.url }}"/>
          {% endif %}
          {% if article.video != "default.mp4" %}
            <video class="videoList mx-auto d-block" controls>
              <source src="{{ article.video.url }}">
            </video>
          {% endif %}
          <hr>
          {{ article.snippet }}
        </a>
        <hr>
        <div class="row d-flex justify-content-around" id="likeCommentList">
          <span class="clickableAwesomeFont align-middle">
            <a href="{% url 'article:detail' slug=article.slug %}">
              <i class="far fa-comment fa-2x"></i>
            </a>
          </span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<script src="/static/articleList.js"></script>
{% endblock %}
