{% extends 'baseLayout.html' %}

{% block content %}
<div class="container-fluid background_img">
  <div class="container">
    <div class="card adjustCard" id="moveDown">
      <div class="card-body">
        <div class="row justify-content-between">
          <p>@{{user.username}}</p>
          <p>{{article.date}}</p>
        </div>
        <h2 class="text-center">{{article.title}}</h2>
        <p class="giveColor">{{article.body}}</p>
        {% if article.image != "default.png" %}
          <img class="image" src="{{ article.image.url }}"/>
        {% endif %}
        <br>
        {% if article.video != "default.mp4" %}
          <video class="video" controls>
            <source id="videos" src="{{ article.video.url }}">
          </video>
        {% endif %}


      </div>
      <a href="{% url 'article:list' %}">
        <button class="btn btn-primary">Back</button>
      </a>
    </div>
  </div>
</div>
<script src="/static/slugify.js"></script>


{% endblock %}
