{% extends 'base_layout.html' %}

{% load static %}

<!-- Not showing data bc  -->
{% block content %}
<a href="{% url 'article:list' %}">
  <button" class="btn btn-primary">Back</button>
</a>
  <h1>Find Accountability Partners</h1>
  <div class="container">
    <!-- <div class="col-md-12 center">
      <span class="profile-picture">
        {% for data in infoG %}
          <img id="article" src=" {{ data.thumbnail.url}}" style="width: 200px; display: block; margin-left: auto; margin-right: auto; padding-bottom: 10px;">
        {%  endfor %}
      </span>
    </div> -->
<!-- look into if condition for if user == current user -->
    {% for dataH in infoH %}
        <div class="row">
            <div class="card text-center" style="width: 470px;">
              <div class="card-body">
                <div class="healthInfo">
                  <!-- <h3>Health Info for {{ user.username }}</h3> -->
                  <h3>Health Info for {{ dataH.author }}</h3>
                  <p>gender: {{dataH.gender}}</p>
                  <p>age: {{dataH.age}}</p>
                  <p>height: {{dataH.height}} inches</p>
                  <p>weight: {{dataH.weight}} lbs</p>
                  <p>fitness level: {{dataH.fit}}</p>
                  <p>goal: {{dataH.goal}}</p>
                </div>
            {% for dataG in infoG %}
              <div class="generalInfo">
                <h3>General Info for {{ dataG.author }}</h3>
                <p>location: {{dataG.location}}</p>
                <p>group size: {{dataG.group}}</p>
                <p>often: {{dataG.often}}</p>
                <p><img id="article" src="{{ dataG.thumbnail.url }}"></p>
              </div>
            {%  endfor %}
            </div>
          </div>
        </div>
    {%  endfor %}
<!-- not going to correct user; check out profile.html and views.py -->
<!-- if user is a friend, then find under map.html -->
<!-- Only display users that aren't my friend -->
    {% for user in users %}
      {% if user not in friends  %}
      <div class="col-sm-6 text-center">
        <img src="{{ infoG.thumbnail.url }}" alt="">

        <a href="{% url 'dashboard:profilePage_with_pk' pk=user.pk %}">
          <h3>{{ user.username }}</h3>
        </a>
        <a href="{% url 'dashboard:changeFriend' operation='add' pk=user.pk %}">
          <button type="button" class="btn btn-success">Add AP</button>
        </a>
      </div>

      {% endif %}

    {%  endfor %}

  </div>
<br>
<br>
<br>
<br>
{% endblock %}
