{% extends 'accounts/signupBaseLayout.html' %}
{% load static %}
{% block content %}
  <div class="image-holder">
    <img src="{% static 'img/withWeights.jpg' %}">
  </div>
  <form class="mdl-textfield mdl-js-textfield" action="{% url 'dashboard:general' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>Create An Account</h1>
    <br>
    <h3>General Info</h3>
    <div class="form-row">
      <p id="uploadImg">Image: <input type="file" name="thumbnail"></p>
    </div>
    <div class="form-row">
      <input class="form-control" placeholder="Instagram" name="ig">
      <input class="form-control" placeholder="Facebook" name="fb">
    </div>
    <div class="form-row">
      <input type="text" class="form-control" placeholder="Twitter" name="twitter">
      <input type="text" class="form-control" placeholder="Snapchat" name="snap">
    </div>
    <div class="form-row">
      <input type="text" class="form-control" placeholder="WhatsApp" name="whatsApp">
    </div>
    <button class="btn btn-primary" type="submit">Next</button>
  </form>
{% endblock %}
