{% extends 'accounts/signupBaseLayout.html' %}
{% load static %}
{% block content %}
  <div class="image-holder">
    <img src="{% static 'img/partnerStretch.jpg' %}" alt="">
  </div>
  <form class="mdl-textfield mdl-js-textfield" action="{% url 'dashboard:health'%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>Create An Account</h1>
    <br>
    <h3>Health Info</h3>
    <div class="form-row">
      <input class="form-control" placeholder="Age: 17-80" name="age">
      {{healthInfo.gender}}
    </div>
    <div class="form-row">
      {{ healthInfo.mental }}<p>Mental</p>
      {{ healthInfo.food }}<p>Nutrition</p>
    </div>
    <div class="form-row">
      {{ healthInfo.sleep }}<p>Sleep</p>
      {{ healthInfo.exercise }}<p>Exercise</p>
    </div>
    <button class="btn btn-primary" type="submit">Next</button>
  </form>
{% endblock %}
