{% extends 'baseLayout.html' %}
{% load static %}
{% block content %}
<h1 class="text-center">My Accountability Partners</h1>
<div class="container">
  <div class="row">
    {% for friend in friends %}
      {% if friend in friends  %}
        <div class="card col-md-4 cardFindBuddy">
          {% for general in generals %}
            {% if general.author_id == friend.id %}
              <nav class="sidenav" >
                <a href="{% url 'dashboard:changeFriend' operation='remove' pk=friend.pk %}">
                  <button type="button" class="btn addRemoveAP"><i class="fas fa-user-minus fa-1x"></i></button>
                </a>
              </nav>
              <div class="row d-flex justify-content-center">
                <img id="imageAP" src="{{ general.thumbnail.url }}">
              </div>
              <div class="row d-flex justify-content-center">
                <a href="{% url 'dashboard:profilePage_with_pk' pk=friend.pk %}">
                  <h3>{{ friend.username }}</h3>
                </a>
              </div>
              <div class="row justify-content-center">
                <p>Location: {{ general.location }}</p>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
