{% extends 'base_layout.html' %}

{% load static %}

{% block content %}
<a href="{% url 'article:list' %}">
  <button" class="btn btn-primary">Back</button>
</a>
<h1>My Accountability Partners</h1>

<div class="container">
  <div class="row">
    {% for friend in friends %}
      {% if friend in friends  %}
        <div class="col-sm-6 text-center">
          <a href="{% url 'dashboard:profilePage_with_pk' pk=friend.pk %}">
            <h3>{{ friend.username }}</h3>
          </a>
          <a href="{% url 'dashboard:changeFriend' operation='remove' pk=friend.pk %}">
            <button type="button" class="btn btn-default">Remove AP</button>
          </a>
        </div>
      {% endif %}
    {%  endfor %}
  </div>
</div>


{% endblock %}
