{% extends 'baseLayout.html' %}
{% load static %}
{% block content %}

<!--Navbar-->
  <nav class="nav nav-pills nav-justified">
    <a class="nav-item nav-link" href="{% url 'accounts:edit_profile' %}">Edit Profile</a>
    <a class="nav-item nav-link" href="{% url 'dashboard:edit_health' %}">Edit Health Info</a>
    <a class="nav-item nav-link" href="{% url 'dashboard:edit_general' %}">Edit General Info</a>
  </nav>
<!--Navbar-->

<!-- not going to correct user; check out views.py and findAccountabilityPartners.html -->
<!-- Section -->
  <div class="jumbotron jumbotron-fluid">
    <div class="col-md-12 center">
      <span class="profile-picture">
        {% for general in generals %}
          <img id="article" src="{{ general.thumbnail.url }}" style="width: 200px; display: block; margin-left: auto; margin-right: auto; padding-bottom: 10px;">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6 col-md-6 text-center">
                <h4>{{ general.author.first_name }} {{ general.author.last_name }}</h4>
              </div>
              <div class="col-lg-6 col-md-6 text-center">
                <h4>@{{ general.author }}</h4>
              </div>
            </div>
          </div>
        {%  endfor %}
      </span>
    </div>
  </div>
  <!-- ABOUT USER SECTION -->
  <div class="container">
    {% for health in healths %}
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 text-center">
          <div class="card centerIt">
            <div class="card-body">
              <div class="healthInfo">
                <h3>Health Info</h3>
                <p>gender: {{ health.gender }}</p>
                {% if health.mental is True %}
                  <p>Mental</p>
                {% endif %}
                {% if health.food is True %}
                  <p>Nutrition</p>
                {% endif %}
                {% if health.sleep is True %}
                  <p>Sleep</p>
                {% endif %}
                {% if health.exercise is True %}
                  <p>Exercise</p>
                {% endif %}
                <p>age: {{ health.age }}</p>
              </div>
            </div>
          </div>
        </div>
    {%  endfor %}
    {% for general in generals %}
        <div class="col-lg-6 col-md-12 col-sm-12 text-center">
          <div class="card centerIt">
            <div class="card-body">
              <div class="generalInfo">
                <h3>General Info</h3>
                <p>Location: {{ general.location }}</p>
                <p>Bio: {{ general.bio }}</p>
              </div>
            </div>
          </div>
          <div class="card centerIt">
            <div class="card-body">
              <h3>Social Media</h3>
              {% if general.ig == "" %}{% else %}
                <i class="fab fa-instagram fa-3x"></i> {{ general.ig }}
              {% endif %}
              <br>
              {% if general.snap == "" %}{% else %}
                  <i class="fab fa-snapchat fa-3x"></i> {{ general.snap }}
              {% endif %}
              <br>
              {% if general.fb == "" %}{% else %}
                <i class="fab fa-facebook-f fa-3x"></i> {{ general.fb }}
              {% endif %}
              <br>
              {% if general.twitter == "" %}{% else %}
                <i class="fab fa-twitter fa-3x"></i> {{ general.twitter }}
              {% endif %}
              <br>
              {% if general.whatsapp == "" %}{% else %}
                <i class="fab fa-whatsapp fa-3x"></i> {{ general.whatsapp }}
              {% endif %}
            </div>
          </div>
        </div>
    {%  endfor %}
    </div>
  </div>
  <!-- POSTS & COMMENTS SECTION -->
  <div class="container">
    {% if posts.count == 0 %}
      <p>{{ user.username }} has 0 posts</p>
    {% elif posts.count == 1 %}
      <h1>Post</h1>
      <div class="row">
        {% for post in posts %}
          <p>{{ post.title }}</p>
          <a href="{% url 'article:detail' slug=post.slug %}">
            {% if post.image != "default.png" %}
              <img class="imageList mx-auto d-block" src="{{ post.image.url }}"/>
            {% endif %}
            {% if post.video != "default.mp4" %}
              <video class="videoList mx-auto d-block" controls>
                <source src="{{ post.video.url }}">
              </video>
            {% endif %}
          </a>
          <a href="{% url 'article:edit' slug=post.slug %}">(Edit)</a>
          <a href="{% url 'article:delete' slug=post.slug %}">(Delete)</a>
        {%  endfor %}
      </div>
    {% else %}
      <h1>Posts</h1>
      {% for post in posts %}
        <div class="row">
          <a href="{% url 'article:detail' slug=post.slug %}">
            <p>{{ post.title }}</p>
            {% if post.image != "default.png" %}
              <img class="imageList mx-auto d-block" src="{{ post.image.url }}"/>
            {% endif %}
            {% if post.video != "default.mp4" %}
              <video class="videoList mx-auto d-block" controls>
                <source src="{{ post.video.url }}">
              </video>
            {% endif %}
          </a>
          <a href="{% url 'article:edit' slug=post.slug %}">(Edit)</a>
          <a href="{% url 'article:delete' slug=post.slug %}">(Delete)</a>
        </div>
        <hr>
      {%  endfor %}
    {% endif %}
  </div>
  <div class="container">
    <h1>Comments</h1>
    Post-Comment (Delete)
  </div>
<br>
<br>
{% endblock %}
