{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>Homepage</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'grayscale.css' %}" rel="stylesheet">
  <link href="{% static 'styles.css' %}" rel="stylesheet">


</head>

<body id="page-top">


  <!-- Header -->
  <header class="masthead">
    <div class="container align-items-center" id="moveDown">
      <div class="mx-auto text-center">
        <h1 class="text-uppercase">Welcome</h1>
        <div class="container">
          <a class="btn btn-primary js-scroll-trigger" href="{% url 'accounts:signup' %}">Signup</a>
          <a class="btn btn-primary js-scroll-trigger" href="{% url 'accounts:login' %}">Login</a>
        </div>
      </div>
    </div>
  </header>


  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'jquery.js' %}"></script>
  <script src="{% static 'bootstrap.bundle.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'jquery.easing.js' %}"></script>

</body>

</html>
